<div>
  <h2 id="page-heading" data-cy="AlmacenHeading">
    <span jhiTranslate="hardwareRemApp.almacen.home.title">Almacens</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="hardwareRemApp.almacen.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-almacen"
        [routerLink]="['/almacen/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="hardwareRemApp.almacen.home.createLabel"> Create a new Almacen </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="almacens?.length === 0">
    <span jhiTranslate="hardwareRemApp.almacen.home.notFound">No almacens found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="almacens && almacens.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="telefono">
            <span jhiTranslate="hardwareRemApp.almacen.telefono">Telefono</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pais"><span jhiTranslate="hardwareRemApp.almacen.pais">Pais</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="provincia">
            <span jhiTranslate="hardwareRemApp.almacen.provincia">Provincia</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sucursal">
            <span jhiTranslate="hardwareRemApp.almacen.sucursal">Sucursal</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="codigoPostal">
            <span jhiTranslate="hardwareRemApp.almacen.codigoPostal">Codigo Postal</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="calle">
            <span jhiTranslate="hardwareRemApp.almacen.calle">Calle</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="albaran">
            <span jhiTranslate="hardwareRemApp.almacen.albaran">Albaran</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="stockProductos">
            <span jhiTranslate="hardwareRemApp.almacen.stockProductos">Stock Productos</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="empresa.id">
            <span jhiTranslate="hardwareRemApp.almacen.empresa">Empresa</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let almacen of almacens; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/almacen', almacen.id, 'view']">{{ almacen.id }}</a>
          </td>
          <td>{{ almacen.telefono }}</td>
          <td>{{ almacen.pais }}</td>
          <td>{{ almacen.provincia }}</td>
          <td>{{ almacen.sucursal }}</td>
          <td>{{ almacen.codigoPostal }}</td>
          <td>{{ almacen.calle }}</td>
          <td>{{ almacen.albaran }}</td>
          <td>{{ almacen.stockProductos }}</td>
          <td>
            <div *ngIf="almacen.empresa">
              <a [routerLink]="['/empresa', almacen.empresa?.id, 'view']">{{ almacen.empresa?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/almacen', almacen.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/almacen', almacen.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(almacen)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="almacens && almacens.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
