<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="cliente">
      <h2 data-cy="clienteDetailsHeading"><span jhiTranslate="hardwareRemApp.cliente.detail.title">Cliente</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cliente.id }}</span>
        </dd>
        <dt><span jhiTranslate="hardwareRemApp.cliente.dni">Dni</span></dt>
        <dd>
          <span>{{ cliente.dni }}</span>
        </dd>
        <dt><span jhiTranslate="hardwareRemApp.cliente.nombre">Nombre</span></dt>
        <dd>
          <span>{{ cliente.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="hardwareRemApp.cliente.apellidos">Apellidos</span></dt>
        <dd>
          <span>{{ cliente.apellidos }}</span>
        </dd>
        <dt><span jhiTranslate="hardwareRemApp.cliente.telefono">Telefono</span></dt>
        <dd>
          <span>{{ cliente.telefono }}</span>
        </dd>
        <dt><span jhiTranslate="hardwareRemApp.cliente.mail">Mail</span></dt>
        <dd>
          <span>{{ cliente.mail }}</span>
        </dd>
        <dt><span jhiTranslate="hardwareRemApp.cliente.pais">Pais</span></dt>
        <dd>
          <span>{{ cliente.pais }}</span>
        </dd>
        <dt><span jhiTranslate="hardwareRemApp.cliente.provincia">Provincia</span></dt>
        <dd>
          <span>{{ cliente.provincia }}</span>
        </dd>
        <dt><span jhiTranslate="hardwareRemApp.cliente.codigoPostal">Codigo Postal</span></dt>
        <dd>
          <span>{{ cliente.codigoPostal }}</span>
        </dd>
        <dt><span jhiTranslate="hardwareRemApp.cliente.calle">Calle</span></dt>
        <dd>
          <span>{{ cliente.calle }}</span>
        </dd>
        <dt><span jhiTranslate="hardwareRemApp.cliente.fidelizado">Fidelizado</span></dt>
        <dd>
          <span>{{ cliente.fidelizado }}</span>
        </dd>
        <dt><span jhiTranslate="hardwareRemApp.cliente.activo">Activo</span></dt>
        <dd>
          <span>{{ cliente.activo }}</span>
        </dd>
        <dt><span jhiTranslate="hardwareRemApp.cliente.empresa">Empresa</span></dt>
        <dd>
          <div *ngIf="cliente.empresa">
            <a [routerLink]="['/empresa', cliente.empresa?.id, 'view']">{{ cliente.empresa?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cliente', cliente.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
