<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" (ngSubmit)="save()" [formGroup]="editForm" class="needs-validation" novalidate>
      <h2 id="jhi-pedido-heading" data-cy="PedidoCreateUpdateHeading" jhiTranslate="hardwareRemApp.pedido.home.createOrEditLabel">
        Create or edit a Pedido
      </h2>

      <div class="row">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group col-md-6 mb-3" [hidden]="editForm.get('id')!.value == null">
          <label for="id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group col-md-6 mb-3">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.pedido.direccionEntrega" for="field_direccionEntrega"
            >Direccion Entrega</label
          >
          <input
            type="text"
            class="form-control"
            name="direccionEntrega"
            id="field_direccionEntrega"
            data-cy="direccionEntrega"
            formControlName="direccionEntrega"
            [maxlength]="300"
          />
          <div
            *ngIf="
              editForm.get('direccionEntrega')!.invalid &&
              (editForm.get('direccionEntrega')!.dirty || editForm.get('direccionEntrega')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('direccionEntrega')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.pedido.descuento" for="field_descuento">Descuento</label>
          <input type="number" class="form-control" name="descuento" id="field_descuento" data-cy="descuento" formControlName="descuento" />
        </div>
      </div>
      <div class="form-group mb-3">
        <label class="form-control-label" jhiTranslate="hardwareRemApp.pedido.tipoPago" for="field_tipoPago">Tipo Pago</label>
        <input type="text" class="form-control" name="tipoPago" id="field_tipoPago" data-cy="tipoPago" formControlName="tipoPago" />
        <div *ngIf="editForm.get('tipoPago')!.invalid && (editForm.get('tipoPago')!.dirty || editForm.get('tipoPago')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('tipoPago')?.errors?.required" jhiTranslate="entity.validation.required">
            Este campo es obligatorio.
          </small>
        </div>
        <div class="form-group mb-3">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.pedido.observaciones" for="field_observaciones"
            >Observaciones</label
          >
          <input
            type="text"
            class="form-control"
            name="observaciones"
            id="field_observaciones"
            data-cy="observaciones"
            formControlName="observaciones"
          />
        </div>
        <span>Añadir productos</span><br /><br />
        <div class="form-group mb-3">
          <button type="button" class="btn btn-sm btn-outline-dark" (click)="open()">Ver productos</button>
        </div>

        <div class="row">
          <div class="form-group col-md-5 mb-3">
            <label class="form-control-label" jhiTranslate="hardwareRemApp.pedido.entregado" for="field_entregado">Entregado</label>
            <input
              type="checkbox"
              class="form-check"
              name="entregado"
              id="field_entregado"
              data-cy="entregado"
              formControlName="entregado"
            />
            <div *ngIf="editForm.get('entregado')!.invalid && (editForm.get('entregado')!.dirty || editForm.get('entregado')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('entregado')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                Este campo es obligatorio.
              </small>
            </div>
          </div>
          <div class="form-group col-md-4 mb-3">
            <label class="form-control-label" jhiTranslate="hardwareRemApp.pedido.enviado" for="field_enviado">Enviado</label>
            <input type="checkbox" class="form-check" name="enviado" id="field_enviado" data-cy="enviado" formControlName="enviado" />
            <div *ngIf="editForm.get('enviado')!.invalid && (editForm.get('enviado')!.dirty || editForm.get('enviado')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('enviado')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                Este campo es obligatorio.
              </small>
            </div>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button type="submit" id="save-entity" data-cy="entityCreateSaveButton" [disabled]="isSaving" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
