<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-componente-heading"
        data-cy="ComponenteCreateUpdateHeading"
        jhiTranslate="hardwareRemApp.componente.home.createOrEditLabel"
      >
        Create or edit a Componente
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.componente.nombre" for="field_nombre">Nombre</label>
          <input
            type="text"
            class="form-control"
            name="nombre"
            id="field_nombre"
            data-cy="nombre"
            formControlName="nombre"
            [maxlength]="50"
          />
          <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nombre')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
            <small class="form-text text-danger" else="editForm.get('nombre')?.errors?.validation.minLength"> Minimo 3 caracteres </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.componente.numeroSerie" for="field_numeroSerie"
            >Numero Serie</label
          >
          <input
            type="text"
            class="form-control"
            name="numeroSerie"
            id="field_numeroSerie"
            data-cy="numeroSerie"
            formControlName="numeroSerie"
          />
          <div *ngIf="editForm.get('numeroSerie')!.invalid && (editForm.get('numeroSerie')!.dirty || editForm.get('numeroSerie')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numeroSerie')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.componente.marca" for="field_marca">Marca</label>
          <input type="text" class="form-control" name="marca" id="field_marca" data-cy="marca" formControlName="marca" [maxlength]="50" />
          <div *ngIf="editForm.get('marca')!.invalid && (editForm.get('marca')!.dirty || editForm.get('marca')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('marca')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
            <small class="form-text text-danger" else="editForm.get('marca')?.errors?.validation.minLength"> Minimo 3 caracteres </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.componente.modelo" for="field_modelo">Modelo</label>
          <input
            type="text"
            class="form-control"
            name="modelo"
            id="field_modelo"
            data-cy="modelo"
            formControlName="modelo"
            [maxlength]="150"
          />
          <div *ngIf="editForm.get('modelo')!.invalid && (editForm.get('modelo')!.dirty || editForm.get('modelo')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('modelo')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
            <small class="form-text text-danger" else="editForm.get('modelo')?.errors?.validation.minLength"> Minimo 3 caracteres </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.componente.descripcion" for="field_descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
            [maxlength]="300"
          />
          <div *ngIf="editForm.get('descripcion')!.invalid && (editForm.get('descripcion')!.dirty || editForm.get('descripcion')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('descripcion')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small class="form-text text-danger" else="editForm.get('descripcion')?.errors?.validation.minLength">
              Minimo 3 caracteres
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.componente.peso" for="field_peso">Peso</label>
          <input type="number" class="form-control" name="peso" id="field_peso" data-cy="peso" formControlName="peso" />
          <div *ngIf="editForm.get('peso')!.invalid && (editForm.get('peso')!.dirty || editForm.get('peso')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('peso')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('peso')?.errors?.number" jhiTranslate="entity.validation.number">
              Este campo tiene que ser numerico.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.componente.producto" for="field_producto">Producto</label>
          <select class="form-control" id="field_producto" data-cy="producto" name="producto" formControlName="producto">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="productoOption.id === editForm.get('producto')!.value?.id ? editForm.get('producto')!.value : productoOption"
              *ngFor="let productoOption of productosSharedCollection; trackBy: trackProductoById"
            >
              {{ productoOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
