<div>
  <h2 id="page-heading" data-cy="EmpleadoHeading">
    <span jhiTranslate="hardwareRemApp.empleado.home.title">Empleados</span>

    <div class="d-flex justify-content-end">
      <input type="text" [(ngModel)]="searchString" (ngModelChange)="buscarPorAtributo()" placeholder="Buscar empleados..." />

      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="hardwareRemApp.empleado.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-empleado"
        [routerLink]="['/empleado/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="hardwareRemApp.empleado.home.createLabel"> Create a new Empleado </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="empleados?.length === 0">
    <span jhiTranslate="hardwareRemApp.empleado.home.notFound">No empleados found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="empleados && empleados.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>

          <th scope="col" jhiSortBy="dni"><span jhiTranslate="hardwareRemApp.empleado.dni">Dni</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nombre">
            <span jhiTranslate="hardwareRemApp.empleado.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="telefono">
            <span jhiTranslate="hardwareRemApp.empleado.telefono">Telefono</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="mail">
            <span jhiTranslate="hardwareRemApp.empleado.mail">Mail</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"><span>Direccion</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="numeroPedidos">
            <span jhiTranslate="hardwareRemApp.empleado.numeroPedidos">Numero Pedidos</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tipoContrato">
            <span jhiTranslate="hardwareRemApp.empleado.tipoContrato">Tipo Contrato</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="comision">
            <span jhiTranslate="hardwareRemApp.empleado.comision">Comision</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="activo">
            <span jhiTranslate="hardwareRemApp.empleado.activo">Activo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="empresa.id">
            <span jhiTranslate="hardwareRemApp.empleado.empresa">Empresa</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"><span>Pedidos</span> <fa-icon icon="sort"></fa-icon></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of empleados; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/empleado', empleado.id, 'view']">{{ empleado.id }}</a>
          </td>
          <td>{{ empleado.dni }}</td>
          <td>{{ empleado.nombre }}{{ empleado.apellidos }}</td>
          <td>{{ empleado.telefono }}</td>
          <td>{{ empleado.mail }}</td>
          <td>{{ empleado.calle }}{{ empleado.provincia }}{{ empleado.codigoPostal }}{{ empleado.pais }}</td>
          <td>{{ empleado.numeroPedidos }}</td>
          <td>{{ empleado.tipoContrato }}</td>
          <td>{{ empleado.comision }}</td>
          <td>{{ empleado.activo }}</td>
          <td>
            <div *ngIf="empleado.empresa">
              <a [routerLink]="['/empresa', empleado.empresa?.id, 'view']">{{ empleado.empresa?.id }}</a>
            </div>
          </td>
          <td>
            <button class="btn btn-sm btn-outline-dark" (click)="open(empleado)">Ver pedidos</button>
          </td>

          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/empleado', empleado.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/empleado', empleado.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(empleado)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="empleados && empleados.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
