<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-producto-heading" data-cy="ProductoCreateUpdateHeading" jhiTranslate="hardwareRemApp.producto.home.createOrEditLabel">
        Create or edit a Producto
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.producto.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nombre')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.producto.numeroSerie" for="field_numeroSerie">Numero Serie</label>
          <input
            type="text"
            class="form-control"
            name="numeroSerie"
            id="field_numeroSerie"
            data-cy="numeroSerie"
            formControlName="numeroSerie"
          />
          <div *ngIf="editForm.get('numeroSerie')!.invalid && (editForm.get('numeroSerie')!.dirty || editForm.get('numeroSerie')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numeroSerie')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.producto.marca" for="field_marca">Marca</label>
          <input type="text" class="form-control" name="marca" id="field_marca" data-cy="marca" formControlName="marca" />
          <div *ngIf="editForm.get('marca')!.invalid && (editForm.get('marca')!.dirty || editForm.get('marca')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('marca')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.producto.modelo" for="field_modelo">Modelo</label>
          <input type="text" class="form-control" name="modelo" id="field_modelo" data-cy="modelo" formControlName="modelo" />
          <div *ngIf="editForm.get('modelo')!.invalid && (editForm.get('modelo')!.dirty || editForm.get('modelo')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('modelo')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.producto.descripcion" for="field_descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
          <div *ngIf="editForm.get('descripcion')!.invalid && (editForm.get('descripcion')!.dirty || editForm.get('descripcion')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('descripcion')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.producto.peso" for="field_peso">Peso</label>
          <input type="number" class="form-control" name="peso" id="field_peso" data-cy="peso" formControlName="peso" />
          <div *ngIf="editForm.get('peso')!.invalid && (editForm.get('peso')!.dirty || editForm.get('peso')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('peso')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('peso')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.producto.fechaVenta" for="field_fechaVenta">Fecha Venta</label>
          <div class="input-group">
            <input
              id="field_fechaVenta"
              data-cy="fechaVenta"
              type="text"
              class="form-control"
              name="fechaVenta"
              ngbDatepicker
              #fechaVentaDp="ngbDatepicker"
              formControlName="fechaVenta"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="fechaVentaDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.producto.precioCompra" for="field_precioCompra"
            >Precio Compra</label
          >
          <input
            type="number"
            class="form-control"
            name="precioCompra"
            id="field_precioCompra"
            data-cy="precioCompra"
            formControlName="precioCompra"
          />
          <div
            *ngIf="editForm.get('precioCompra')!.invalid && (editForm.get('precioCompra')!.dirty || editForm.get('precioCompra')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('precioCompra')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('precioCompra')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.producto.precioBruto" for="field_precioBruto">Precio Bruto</label>
          <input
            type="number"
            class="form-control"
            name="precioBruto"
            id="field_precioBruto"
            data-cy="precioBruto"
            formControlName="precioBruto"
          />
          <div *ngIf="editForm.get('precioBruto')!.invalid && (editForm.get('precioBruto')!.dirty || editForm.get('precioBruto')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('precioBruto')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('precioBruto')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.producto.precioIva" for="field_precioIva">Precio Iva</label>
          <input type="number" class="form-control" name="precioIva" id="field_precioIva" data-cy="precioIva" formControlName="precioIva" />
          <div *ngIf="editForm.get('precioIva')!.invalid && (editForm.get('precioIva')!.dirty || editForm.get('precioIva')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('precioIva')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('precioIva')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.producto.vendido" for="field_vendido">Vendido</label>
          <input type="checkbox" class="form-check" name="vendido" id="field_vendido" data-cy="vendido" formControlName="vendido" />
          <div *ngIf="editForm.get('vendido')!.invalid && (editForm.get('vendido')!.dirty || editForm.get('vendido')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('vendido')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.producto.iva" for="field_iva">Iva</label>
          <select class="form-control" id="field_iva" data-cy="iva" name="iva" formControlName="iva">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="ivaOption.id === editForm.get('iva')!.value?.id ? editForm.get('iva')!.value : ivaOption"
              *ngFor="let ivaOption of ivasCollection; trackBy: trackIvaById"
            >
              {{ ivaOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.producto.empresa" for="field_empresa">Empresa</label>
          <select class="form-control" id="field_empresa" data-cy="empresa" name="empresa" formControlName="empresa">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="empresaOption.id === editForm.get('empresa')!.value?.id ? editForm.get('empresa')!.value : empresaOption"
              *ngFor="let empresaOption of empresasSharedCollection; trackBy: trackEmpresaById"
            >
              {{ empresaOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.producto.pedido" for="field_pedido">Pedido</label>
          <select class="form-control" id="field_pedido" data-cy="pedido" name="pedido" formControlName="pedido">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="pedidoOption.id === editForm.get('pedido')!.value?.id ? editForm.get('pedido')!.value : pedidoOption"
              *ngFor="let pedidoOption of pedidosSharedCollection; trackBy: trackPedidoById"
            >
              {{ pedidoOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.producto.almacen" for="field_almacen">Almacen</label>
          <select class="form-control" id="field_almacen" data-cy="almacen" name="almacen" formControlName="almacen">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="almacenOption.id === editForm.get('almacen')!.value?.id ? editForm.get('almacen')!.value : almacenOption"
              *ngFor="let almacenOption of almacensSharedCollection; trackBy: trackAlmacenById"
            >
              {{ almacenOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
