<div class="d-flex justify-content-center">
  <h2 id="page-heading" data-cy="ClienteHeading">
    <span jhiTranslate="hardwareRemApp.cliente.home.title">Clientes</span>
  </h2>
</div>
<div class="container-fluid mt-100 gradient-custom2">
  <div class="d-flex justify-content-end">
    <input type="text" [(ngModel)]="searchString" (ngModelChange)="buscarPorAtributo()" placeholder="Buscar clientes..." />

    <button class="btn btn-info mr-2 ml-3" (click)="loadPage()" [disabled]="isLoading">
      <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      <span jhiTranslate="hardwareRemApp.cliente.home.refreshListLabel">Refresh List</span>
    </button>

    <button
      id="jh-create-entity"
      data-cy="entityCreateButton"
      class="btn btn-primary jh-create-entity create-cliente"
      [routerLink]="['/cliente/new']"
    >
      <fa-icon icon="plus"></fa-icon>
      <span jhiTranslate="hardwareRemApp.cliente.home.createLabel"> Create a new Cliente </span>
    </button>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="clientes?.length === 0">
    <span jhiTranslate="hardwareRemApp.cliente.home.notFound">No clientes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="clientes && clientes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead class="facturacion">
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="dni">
            <span jhiTranslate="hardwareRemApp.cliente.dni">Dni</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nombre">
            <span jhiTranslate="hardwareRemApp.cliente.nombre">Nombre</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="telefono">
            <span jhiTranslate="hardwareRemApp.cliente.telefono">Telefono</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="mail">
            <span jhiTranslate="hardwareRemApp.cliente.mail">Mail</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pais">
            <span>Direccion</span>
            <fa-icon icon="sort"></fa-icon>
          </th>

          <th scope="col" jhiSortBy="fidelizado">
            <span jhiTranslate="hardwareRemApp.cliente.fidelizado">Fidelizado</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="activo">
            <span jhiTranslate="hardwareRemApp.cliente.activo">Activo</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes; trackBy: trackId" data-cy="entityTable">
          <td>{{ cliente.dni }}</td>
          <td>{{ cliente.nombre }} {{ cliente.apellidos }}</td>
          <td>{{ cliente.telefono }}</td>
          <td>{{ cliente.mail }}</td>
          <td>{{ cliente.calle }} {{ cliente.codigoPostal }}, {{ cliente.provincia }}, {{ cliente.pais }}</td>
          <td>
            <span *ngIf="cliente.fidelizado === true">Fidelizado</span>
            <span *ngIf="cliente.fidelizado === false">No fidelizado</span>
          </td>
          <td>
            <span *ngIf="cliente.activo === true">Activo</span>
            <span *ngIf="cliente.activo === false">Inactivo</span>
          </td>

          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/cliente', cliente.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/cliente', cliente.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(cliente)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="clientes && clientes.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
