<div>
  <h2 id="page-heading" data-cy="ClienteHeading">
    <span jhiTranslate="hardwareRemApp.cliente.home.title">Clientes</span>

    <div class="d-flex justify-content-end">
      <input type="text" [(ngModel)]="searchString" (ngModelChange)="buscarPorAtributo()" placeholder="Buscar clientes..." />
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="hardwareRemApp.cliente.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cliente"
        [routerLink]="['/cliente/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="hardwareRemApp.cliente.home.createLabel"> Create a new Cliente </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="clientes?.length === 0">
    <span jhiTranslate="hardwareRemApp.cliente.home.notFound">No clientes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="clientes && clientes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dni"><span jhiTranslate="hardwareRemApp.cliente.dni">Dni</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nombre">
            <span jhiTranslate="hardwareRemApp.cliente.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="apellidos">
            <span jhiTranslate="hardwareRemApp.cliente.apellidos">Apellidos</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="telefono">
            <span jhiTranslate="hardwareRemApp.cliente.telefono">Telefono</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="mail"><span jhiTranslate="hardwareRemApp.cliente.mail">Mail</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="pais"><span jhiTranslate="hardwareRemApp.cliente.pais">Pais</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="provincia">
            <span jhiTranslate="hardwareRemApp.cliente.provincia">Provincia</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="codigoPostal">
            <span jhiTranslate="hardwareRemApp.cliente.codigoPostal">Codigo Postal</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="calle">
            <span jhiTranslate="hardwareRemApp.cliente.calle">Calle</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fidelizado">
            <span jhiTranslate="hardwareRemApp.cliente.fidelizado">Fidelizado</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="activo">
            <span jhiTranslate="hardwareRemApp.cliente.activo">Activo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="empresa.id">
            <span jhiTranslate="hardwareRemApp.cliente.empresa">Empresa</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cliente', cliente.id, 'view']">{{ cliente.id }}</a>
          </td>
          <td>{{ cliente.dni }}</td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellidos }}</td>
          <td>{{ cliente.telefono }}</td>
          <td>{{ cliente.mail }}</td>
          <td>{{ cliente.pais }}</td>
          <td>{{ cliente.provincia }}</td>
          <td>{{ cliente.codigoPostal }}</td>
          <td>{{ cliente.calle }}</td>
          <td>{{ cliente.fidelizado }}</td>
          <td>{{ cliente.activo }}</td>
          <td>
            <div *ngIf="cliente.empresa">
              <a [routerLink]="['/empresa', cliente.empresa?.id, 'view']">{{ cliente.empresa?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/cliente', cliente.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/cliente', cliente.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(cliente)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="clientes && clientes.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
