<div class="row" style="text-align: center">
  <div class="col">
    <h1 class="display-4"><span jhiTranslate="home.title">Welcome, HardwareREM!</span></h1>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
          >You are logged in as user "{{ account.login }}".</span
        >
      </div>
      <div class="d-flex justify-content-around">
        <button type="submit" routerLink="pedido" class="btn btn-outline-info btn-lg">
          <fa-icon icon="hand-holding"></fa-icon>
          <span class="d-none d-md-inline">Ir a pedidos</span>
        </button>

        <button type="submit" routerLink="cliente" class="btn btn-outline-info btn-lg">
          <fa-icon icon="user"></fa-icon>
          <span class="d-none d-md-inline">Ir a clientes</span>
        </button>

        <button type="submit" routerLink="factura" class="btn btn-outline-info btn-lg">
          <fa-icon icon="file-invoice"></fa-icon>
          <span class="d-none d-md-inline">Ir a facturas</span>
        </button>

        <button type="submit" routerLink="producto" class="btn btn-outline-info btn-lg">
          <fa-icon icon="box-open"></fa-icon>
          <span class="d-none d-md-inline">Ir a productos</span>
        </button>

        <button type="submit" routerLink="empleado" class="btn btn-outline-info btn-lg">
          <fa-icon icon="briefcase"></fa-icon>
          <span class="d-none d-md-inline">Ir a empleados</span>
        </button>
      </div>
      <div class="d-flex justify-content-around">
        <span class="hipster img-sm"></span>
      </div>
    </div>
  </div>
</div>
