<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-empleado-heading" data-cy="EmpleadoCreateUpdateHeading" jhiTranslate="hardwareRemApp.empleado.home.createOrEditLabel">
        Create or edit a Empleado
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.cliente.dni" for="field_dni">Dni</label>
          <input type="text" class="form-control" name="dni" id="field_dni" data-cy="dni" formControlName="dni" [maxlength]="9" />
          <div *ngIf="editForm.get('dni')!.invalid && (editForm.get('dni')!.dirty || editForm.get('dni')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('dni')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
            <small class="form-text text-danger" else="editForm.get('dni')?.errors?.minLength">
              Este campo se compone de 9 caracteres
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.cliente.nombre" for="field_nombre">Nombre</label>
          <input
            type="text"
            class="form-control"
            name="nombre"
            id="field_nombre"
            data-cy="nombre"
            formControlName="nombre"
            [maxlength]="100"
          />
          <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nombre')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
            <small class="form-text text-danger" else="editForm.get('nombre')?.errors?.validation.minLength"> Minimo 3 caracteres </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.cliente.apellidos" for="field_apellidos">Apellidos</label>
          <input
            type="text"
            class="form-control"
            name="apellidos"
            id="field_apellidos"
            data-cy="apellidos"
            formControlName="apellidos"
            [maxlength]="100"
          />
          <div *ngIf="editForm.get('apellidos')!.invalid && (editForm.get('apellidos')!.dirty || editForm.get('apellidos')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('apellidos')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small class="form-text text-danger" else="editForm.get('apellidos')?.errors?.validation.minLength">
              Minimo 3 caracteres
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.cliente.telefono" for="field_telefono">Telefono</label>
          <input
            type="text"
            class="form-control"
            name="telefono"
            id="field_telefono"
            data-cy="telefono"
            formControlName="telefono"
            [maxlength]="15"
          />
          <div *ngIf="editForm.get('telefono')!.invalid && (editForm.get('telefono')!.dirty || editForm.get('telefono')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('telefono')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.cliente.mail" for="field_mail">Mail</label>
          <input type="text" class="form-control" name="mail" id="field_mail" data-cy="mail" formControlName="mail" />
          <div *ngIf="editForm.get('mail')!.invalid && (editForm.get('mail')!.dirty || editForm.get('mail')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('mail')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('mail')?.errors?.email"> El email introducido no es correcto </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.cliente.pais" for="field_pais">Pais</label>
          <input type="text" class="form-control" name="pais" id="field_pais" data-cy="pais" formControlName="pais" />
          <div *ngIf="editForm.get('pais')!.invalid && (editForm.get('pais')!.dirty || editForm.get('pais')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('pais')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
            <small class="form-text text-danger" else="editForm.get('pais')?.errors?.validation.minLength"> Minimo 3 caracteres </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.cliente.provincia" for="field_provincia">Provincia</label>
          <input type="text" class="form-control" name="provincia" id="field_provincia" data-cy="provincia" formControlName="provincia" />
          <div *ngIf="editForm.get('provincia')!.invalid && (editForm.get('provincia')!.dirty || editForm.get('provincia')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('provincia')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small class="form-text text-danger" else="editForm.get('provincia')?.errors?.validation.minLength">
              Minimo 3 caracteres
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.cliente.codigoPostal" for="field_codigoPostal"
            >Codigo Postal</label
          >
          <input
            type="text"
            class="form-control"
            name="codigoPostal"
            id="field_codigoPostal"
            data-cy="codigoPostal"
            formControlName="codigoPostal"
          />
          <div
            *ngIf="editForm.get('codigoPostal')!.invalid && (editForm.get('codigoPostal')!.dirty || editForm.get('codigoPostal')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('codigoPostal')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.cliente.calle" for="field_calle">Calle</label>
          <input type="text" class="form-control" name="calle" id="field_calle" data-cy="calle" formControlName="calle" />
          <div *ngIf="editForm.get('calle')!.invalid && (editForm.get('calle')!.dirty || editForm.get('calle')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('calle')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
            <small class="form-text text-danger" else="editForm.get('calle')?.errors?.validation.minLength"> Minimo 3 caracteres </small>
          </div>
        </div>


        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.empleado.tipoContrato" for="field_tipoContrato"
            >Tipo Contrato</label
          >
          <input
            type="text"
            class="form-control"
            name="tipoContrato"
            id="field_tipoContrato"
            data-cy="tipoContrato"
            formControlName="tipoContrato"
          />
          <div
            *ngIf="editForm.get('tipoContrato')!.invalid && (editForm.get('tipoContrato')!.dirty || editForm.get('tipoContrato')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tipoContrato')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>


        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.empleado.activo" for="field_activo">Activo</label>
          <input type="checkbox" class="form-check" name="activo" id="field_activo" data-cy="activo" formControlName="activo" />
          <div *ngIf="editForm.get('activo')!.invalid && (editForm.get('activo')!.dirty || editForm.get('activo')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('activo')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hardwareRemApp.empleado.contrasena" for="field_contrasena">Contrasena</label>
          <input
            type="text"
            class="form-control"
            name="contrasena"
            id="field_contrasena"
            data-cy="contrasena"
            formControlName="contrasena"
          />
          <div *ngIf="editForm.get('contrasena')!.invalid && (editForm.get('contrasena')!.dirty || editForm.get('contrasena')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('contrasena')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>


      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
